.main-container {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 80px;
}

.product-image {
    width: 200px;
    height: 250px;
    background-color: gray;
}

.product-title {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 15px;
}

