.main-container {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    max-width: 980px;
    padding: 10px 0 30px 0;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-right: 60px;
    justify-content: space-between;
    position: relative;
    z-index: 51;

}

.product-image {
    width: 200px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: gray; */
}




.info{
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    opacity: 0;
    width: 30px;
    height: 30px;
}

.product-image:hover {
    opacity: .6;
}

.product-image:hover.info{
    opacity: 1;
}

.product-image.iceland {
    background-image: url("./Iceland.jpg");
}

.product-image.germany {
    background-image: url("./Germany.jpg");
}

.product-image.argentina {
    background-image: url("./Argentina.jpg");
}

.product-image.bali {
    background-image: url("./Bali.jpg");
}

.product-image.australia {
    background-image: url("./Australia.jpg");
}

.product-image.tunisia {
    background-image: url("./Tunisia.jpg");
}

.product-image.holland {
    background-image: url("./Holland.jpg");
}

.product-image.norway {
    background-image: url("./Norway.jpg");
}

.product-image.switzerland {
    background-image: url("./Switzerland.jpg");
}

.product-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15px;

}

.product-title {
    text-transform: uppercase;
    font-size: 18px;
}

.product-add {
    background-image: url("./add-button.svg") ;
    width: 20px;
    height: 20px;
}

