.cart-container {
    width: 980px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #000;
}

.cartTrip {
    margin: 15px 10px;
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.tripAdded {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-properties {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cost-trip-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cost-title{
    padding: 15px 0;
}

.cart-trip-add, .cartTripRemove {
    font-size: 24px;
    cursor: pointer;
    padding: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.025);
    border-radius: 50%;
}

.cart-trip-add span, .cartTripRemove span {
    line-height: 1em;
}

.cart-trip-add:hover, .cartTripRemove:hover {
    /* border: 1px solid rgba(138, 119, 119, 0.5); */
    background-color: rgba(0, 0, 0, 0.05);
}

.trip-cost, .day-quantity {
    margin: 0 15px;
    font-size: 24px;
}