.cart-container {
    width: 980px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #000;
}

.cartTrip {
    margin: 15px 10px;
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.tripAdded {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.cartPropertes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cartTripAdd, .cartTripRemove {
    font-size: 24px;
    cursor: pointer;
    margin: 20px;
}

.tripCost{
    margin: 20px 10px;
    font-size: 24px;
}
