header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
}

.shopping-cart {
    background-image: url("assets/shopping-cart.svg");
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px;
}

.title {
    font-size: 24px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
}


